---
import "../styles/globals.css";
import "@fontsource/inter";
import "@fontsource/inter/400.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import { Sprite } from "astro-icon";

import Footer from "@components/Footer.astro";
import { AnalyticsProvider } from "@contexts";

import '../styles/global.css';

const { title, meta } = Astro.props;

const footerData = [
  {
    title: "Partners",
    items: [
      { title: "Vetting Process", href: "#how-it-works" },
      { title: "Pricing", href: "" },
      { title: "FAQ", href: "#FAQ-Box" },
    ],
  },
  {
    title: "Engineers",
    items: [
      { title: "How it works", href: "#how-it-works" },
      { title: "FAQ", href: "#FAQ-Box" },
    ],
  },
];
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name={meta?.name} content={meta?.content} />
    <title>{title}</title>
  </head>
  <body>
    <AnalyticsProvider>
      <Sprite.Provider>
        <slot />
      </Sprite.Provider>
    </AnalyticsProvider>

    <Footer footerData={footerData} />

    <style is:global>
      html,
      body {
        margin: 0;
        padding: 0;
        font-family: "Inter", sans-serif;
        scroll-behavior: smooth;
      }
    </style>
  </body>
</html>
